body {
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}

#main-image {
    height: 100vh; width: auto;
    margin: auto; margin-top: 0;
}

#left-arrow {
    position: absolute; top: 282.5px; left: 10px;
}

#right-arrow {
    position: absolute; top: 282.5px; right: 10px;
}

.arrow {
    width: 55px; height: 55px;
    border-radius: 50%; display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center; align-items: center;
    transition: transform 0.4s ease;
}


.arrow::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: transparent;
  transition: border 0.3s ease;
}

.arrow:hover::after {
  border: 30px solid #53959638;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.65);
}

#user_name {
    position: absolute; bottom: 20px; right: 766px;
    background-color: #539596c7; color: white;
    font-size: 19px; border-radius: 30px;
    width: fit-content; height: 47px;
    display: flex; align-items: center;
    justify-content: center;
    padding-left: 20px; padding-right: 20px;
}

#upvote-btn {
    text-align: center; align-items: center;
    position: absolute; top: 10px; right: 10px;
    width: 55px; height: 55px;
    border-radius: 50%; font-size: 25px;
    /* color: rgb(187, 9, 83); border: 1.5px solid rgb(187, 9, 83); */
    border: 1.5px solid white; color: white;
}

.hidden {
    visibility: hidden;
}