body {
    background-image: url("./assets/images/01784fb2-e758-4ed7-ad0b-1bd195549471.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.297);
    z-index: 5; width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
}

#signupForm, #loginForm {
    z-index: 10; position: relative;
    width: 100%; margin-top: 50px;
    text-align: center;
}

.signuphead, .loginhead {
    font-family: 'Poppins', sans-serif;
    font-size: 35px; font-weight: 500;
    color: black; margin-top: 58px;
    width: 100%; text-align: center;
    z-index: 10; position: relative;
}

.loginhead {
    margin-top: 105px;
}

.textinput {
    width: 330px; height: 43px;
    border: none; border-radius: 30px;
    margin-bottom: 13px;
    color: black; font-size: 16.5px;
    font-family: 'Lora', serif;
    padding-left: 15px;
}

.siteimputs {
    width: fit-content; display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 17px; margin-bottom: 30px;
    row-gap: 10px; column-gap: 40px;
}

label {
    font-family: 'Lora', serif;
    font-size: 20px; color: black;
    font-weight: 600;
    margin: 0; padding: 0;
    width: 120px;
    text-align: left;
}

.siteimputs input[type="checkbox"] {
  width: 19px;
  height: 19px;
  accent-color: #1272aa;
  margin-right: 8px;
  position: relative; top: 2.5px;
}

.signupbtn, .loginbtn {
    background-color: #276f72;
    color: white; font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px; border: none;
    z-index: 100; padding: 10px;
    padding-left: 17.5px; padding-right: 17.5px;
    font-weight: 500; margin-top: 20px;
    outline: 2.3px solid #5db8bb;
    cursor: pointer;
}

.loginbtn {
    margin-top: 44px;
}

.alreadypara, .noaccpara {
    font-family: 'Lora', serif;
    font-size: 17px;
    width: 100%; text-align: center;
    color: black;
}

.alreadypara span, .noaccpara span {
    color: #2112aa; font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    z-index: 100; position: relative;
}