body {
    background-color: rgb(37, 37, 37);
    padding-top: 10px; padding-bottom: 50px;
}

.rechead {
    font-size: 30px; font-family: 'Lora', serif;
    color: rgb(204, 204, 204);
    padding-left: 25px;
    font-weight: 300; margin-top: 20px;
}

.cardimages {
    border-radius: 5px;
    height: 245px;
}

.cardnames {
    color: #aaeef0; height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.cardprices {
    color: white;
    font-family: 'Lora', serif;
}

.sitename {
    color: #75bbbc;
    font-family: 'Lora', serif;
    text-align: center;
    font-weight: 250;
    width: 100%; background-color: rgb(44, 44, 44);
    padding-top: 9px; padding-bottom: 9px;
}

.thisline {
    border: 0.75px solid grey; margin-top: 25px;
    width: 95.5%; margin-bottom: 80px;
    transform-origin: center;
}

.onecard {
    background-color: rgb(48, 48, 48);
    border-radius: 10px; border: none;
    outline: none; margin: 10px;
}

.firstcard {
    margin-left: 35.5px;
}

.site-logo {
  display: block; border-radius: 50%;
  width: 65px; height: 55px;
  margin: auto;
  margin-top: 70px; margin-bottom: 30px;
}

.showrec {
    background-color: #4a8d8e; font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none; color: white;
    border-radius: 40px;
    width: fit-content; height: 53px;
    padding: 10px 22px;
    cursor: pointer;
    z-index: 1000; position: relative;
    margin-top: 50px; margin-right: 40px;
}

.twopurposes {
    display: flex; flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}






/* Loading animation */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dots {
  display: flex;
  gap: 20px;
}

.dots span {
  width: 12px;
  height: 12px;
  background-color: #ffffffa0;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.dots span:nth-child(1) { animation-delay: -0.32s; }
.dots span:nth-child(2) { animation-delay: -0.16s; }

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}